<!-- Contact form processed by Formspree -->
<main>
  <div class="lead">
    <section>
      <img class='{% cycle 'pull-right', 'pull-left' %}' src='{{ feature.image }}'>
      <h2>{{ feature.heading }}</h2>
      <form action="https://formspree.io/f/mknkoeak" method="POST">
        <p>
          <label>Uw naam:</label>
          <input type="text" name="_name">
        </p>
        <p>
          <label>Uw e-mailadres:</label>
          <input type="email" name="_replyto">
        </p>
        <p>
          <label>Uw bericht of vraag:</label>
          <textarea name="message"></textarea>
        </p>
        <button type="submit">Send</button>
      </form>
    </section>
  </div>
</main>
