<!-- Contact form processed by Formspree -->
<main>
  <div class="lead">
    <hr id="/contactform">
    <section>
      <img class='{% cycle 'pull-right', 'pull-left' %}' src='https://sovsab.github.io/kinderclubwwa/images/syrenkaMetBrief_500x500.png'>
      <h2>Contactformulier</h2>
      <p style="text-align:right; color:red; width:40%;">required</p>
      <form action="https://formspree.io/f/mknkoeak" method="POST">
        <p >
          <input type="text" name="_name" required="true" placeholder="uw naam" style="width:40%; outline-color:red; outline-style:solid; position: relative; left: 1px;" />
        </p>
        <p>
          <input type="email" name="_replyto" required="true" placeholder="uw e-mailadres" style="width:40%; outline-color:red; outline-style:solid;position: relative; left: 1px;" />
        </p>                       
        <p>
        </p>
        <p>
          <textarea name="message" placeholder="Uw bericht of vraag" style="width:40%;"></textarea>
        </p>
        <p style="align:right; width:100%;">
          <button type="submit">Verzenden</button>
        </p>
      </form>
    </section>
  </div>
</main>
