<!-- Contact form processed by Formspree -->
<main>
  <div class="lead">
    <section>
      <img class='{% cycle 'pull-right', 'pull-left' %}' src='https://github.com/sovsab/kinderclubwwa/blob/gh-pages/images/syrenkaMetBrief_500x500.png'>
      <h2>Contactformulier</h2>
      <p style="text-align: right; color: red;">* required</p>
      <form action="https://formspree.io/f/mknkoeak" method="POST">
        <div style="width: 50%;">
          <p>
            <label>Uw naam:<sup style="color: red;">*</sup></label>
            <span style="text-align: right;"><input type="text" name="_name" required="true"></span>
          </p>
          <p>
            <label>Uw e-mailadres:<sup style="color: red;">*</sup></label>
            <span style="text-align: right;"><input type="email" name="_replyto" required="true"></span>
          </p>
        </div>                                    
        <div style="width: 50%;">
          <p>
            <label>Uw bericht of vraag:</label>
          </p>
          <p style="text-align: right;">
            <textarea name="message"></textarea>
          </p>
        </div>
        <button type="submit">Send</button>
      </form>
    </section>
  </div>
</main>
